@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e1e1e;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-thumb::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thumb::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
  border-radius: 6px;
}
.scrollbar-thumb::-webkit-scrollbar-track {
  background: transparent;
}

.memo-icon {
	background: url('/icons/memo-icon.svg') center center no-repeat;
	background-size: contain;
	width: 16px;
	height: 16px;
	margin-left: 12px;
}

/* 터미널 디자인 (별도) */
.xterm .xterm-viewport::-webkit-scrollbar {
  width: 6px;
}

.xterm .xterm-viewport::-webkit-scrollbar-track {
  background-color: transparent;
}

.xterm .xterm-viewport::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
  border-radius: 6px;
}

.xterm-screen {
  width: 100% !important;
}